<!doctype html>
<html lang="en">

<% const title="Astar Network Crowdloan" %>
  <% const tagline="Stake DOT and Get ASTA Today!" %>
    <% const url="https://crowdloan.astar.network" %>
      <% const description="Support the Astar Network (Previously Plasm) Parachain Auction" %>
        <% const image="https://crowdloan.astar.network/images/card-image.jpg" %>

          <head>
            <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="robots" content="index, follow">

            <!-- Google Fonts -->
            <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@700&display=swap" class="webfont">

            <!-- Bootstrapped CSS -->
            <link href="css/style.css" rel="stylesheet">

            <title>
              <%= title %> - <%= tagline %>
            </title>
            <meta name="description" content="<%= description %>">

            <!-- Open Graph Tags -->
            <meta property="og:title" content="<%= title %> - <%= tagline %>" />
            <meta property="og:type" content="website" />
            <meta property="og:image" content="<%= image %>" />
            <meta property="og:description" content="<%= description %>" />
            <meta property="og:locale" content="en-US" />
            <meta property="og:site_name" content="<%= title %>" />
            <meta property="og:url" content="<%= url %>" />

            <!-- Twitter Cards -->
            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:site" content="@AstarNetwork">
            <meta name="twitter:title" content="<%= title %> - <%= tagline %>">
            <meta name="twitter:description" content="<%= description %>">
            <meta name="twitter:image" content="<%= image %>">
            <meta property="twitter:url" content="<%= url %>" />
            <meta name="twitter:creator" content="@AstarNetwork">

            <!-- Favicon -->
            <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png">
            <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
            <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
            <link rel="manifest" href="images/favicon/site.webmanifest">
            <link rel="mask-icon" href="images/favicon/safari-pinned-tab.svg" color="#1b6dc1">
            <meta name="msapplication-TileColor" content="#ffffff">
            <meta name="theme-color" content="#ffffff">
          </head>

          <body>
            <%- include('_svg-defs'); %>

              <header class="container">

                <div class="d-flex flex-wrap justify-content-between align-items-center py-3">

                  <div class="d-flex align-items-center">
                    <div class="brand-logo__container">
                      <span class="brand-logo d-block">
                        <img src="images/brand-logo-mark.png" alt="Astar Network" class="brand-logo__mark"
                          loading="lazy">
                        <svg class="brand-logo__type">
                          <use xlink:href="#brand-logo-type"></use>
                        </svg>
                      </span>
                      <span class="brand-logo__title d-block">
                        <%= title %>
                      </span>
                    </div>
                  </div>

                  <ul class="nav d-none d-lg-flex">
                    <li class="nav-item"><a href="#faq" class="nav-link">FAQ</a></li>
                    <li class="nav-item"><a href="https://forum.astar.network/" target="_blank"
                        rel="noopener noreferrer" class="nav-link">Forum</a>
                    </li>
                    <li class="nav-item">
                      <div class="dropdown nav-link">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                          data-bs-toggle="dropdown" aria-expanded="false">
                          Community
                        </a>
                        <ul class="dropdown-menu m-0" aria-labelledby="dropdownMenuLink">
                          <li><a class="dropdown-item" href="https://twitter.com/AstarNetwork" target="_blank"
                              rel="noopener noreferrer">Twitter</a></li>
                          <li><a class="dropdown-item" href="https://discord.gg/Z3nC9U4" target="_blank"
                              rel="noopener noreferrer">Discord</a>
                          </li>
                          <li><a class="dropdown-item" href="https://t.me/PlasmOfficial" target="_blank"
                              rel="noopener noreferrer">Telegram</a></li>
                          <li><a class="dropdown-item" href="https://medium.com/astar-network" target="_blank"
                              rel="noopener noreferrer">Medium</a>
                          </li>
                          <li><a class="dropdown-item"
                              href="https://github.com/PlasmNetwork/plasmdocs/blob/master/wp/en.pdf" target="_blank"
                              rel="noopener noreferrer">Whitepaper</a>
                          </li>
                        </ul>
                      </div>
                    </li>
                  </ul>

                  <div class="d-lg-none me-1">
                    <button class="hamburger-button">
                      <span>Nav Button</span>
                    </button>
                  </div>

                </div>
              </header>

              <div class="nav-mobile">
                <div class="nav-mobile__inner d-flex align-items-center justify-content-center">
                  <ul>
                    <li class="nav-item"><a href="#faq" class="nav-link">FAQ</a>
                    </li>
                    <li class="nav-item"><a href="https://forum.astar.network/" target="_blank"
                        rel="noopener noreferrer" class="nav-link">Forum</a>
                    </li>
                    <li class="nav-item">
                      <p class="nav-link m-0">Community</p>
                      <ul class="ms-3 mb-4 community">
                        <li class="nav-item"><a href="https://twitter.com/AstarNetwork" target="_blank"
                            rel="noopener noreferrer" class="nav-link">Twitter</a></li>
                        <li class="nav-item"><a href="https://discord.gg/Z3nC9U4" target="_blank"
                            rel="noopener noreferrer" class="nav-link">Discord</a>
                        </li>
                        <li class="nav-item"><a href="https://t.me/PlasmOfficial" target="_blank"
                            rel="noopener noreferrer" class="nav-link">Telegram</a></li>
                        <li class="nav-item"><a href="https://medium.com/astar-network" target="_blank"
                            rel="noopener noreferrer" class="nav-link">Medium</a>
                        </li>
                        <li class="nav-item"><a href="https://github.com/PlasmNetwork/plasmdocs/blob/master/wp/en.pdf"
                            target="_blank" rel="noopener noreferrer" class="nav-link">Whitepaper</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div><!-- .nav-mobile -->

              <section id="hero" class="d-flex align-items-center">
                <div class="container">
                  <div class="hero-inner ps-lg-4 text-center text-lg-start">
                    <p class="mb-2">Support the <ruby>Astar Network<rt>(Previously Plasm Network)</rt></ruby>
                      Parachain Auction</p>
                    <h1 class="mb-4 mb-sm-5">Stake DOT <small>&</small> <br>Get ASTA Today!</h1>
                    <a href="#stake-dot" class="btn btn-gradiant btn-lg">
                      Stake DOT Now
                    </a>
                  </div>
                </div>
              </section>

              <section id="remaining-time">
                <div class="container text-center">
                  <h2><span>Remaining Time</span></h2>
                  <p class="fw-bold text-danger">Highest Bonus Period Ends:</p>
                  <div class="d-flex justify-content-center flex-wrap">

                    <div id="days" class="remaining-time__item d-flex justify-content-center align-items-center m-2">
                      <div class="remaining-time__circle">
                        <svg viewBox="0 0 36 36">
                          <defs>
                            <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
                              <stop offset="0%" stop-color="#25BED2" />
                              <stop offset="20%" stop-color="#2686E9" />
                              <stop offset="90%" stop-color="#8B5BC5" />
                              <stop offset="100%" stop-color="#FF92CC" />
                            </linearGradient>
                          </defs>
                          <path stroke="#333A50" fill="none" strokeWidth="6" d="M18 2.0845
                            a 15.9155 15.9155 0 0 1 0 31.831
                            a 15.9155 15.9155 0 0 1 0 -31.831" />
                          <path class="linear-gradient" stroke="url(#gradient)" stroke-dasharray="0, 100" fill="none"
                            strokeWidth="6" d="M18 2.0845
                            a 15.9155 15.9155 0 0 1 0 31.831
                            a 15.9155 15.9155 0 0 1 0 -31.831" />
                        </svg>
                      </div>
                      <dl class="d-flex flex-column lh-sm m-0">
                        <dt class="text-uppercase order-2 fw-normal">Days</dt>
                        <dd class="order-1 text-white m-0 fw-bolder">0</dd>
                      </dl>
                    </div>

                    <div id="hours" class="remaining-time__item d-flex justify-content-center align-items-center m-2">
                      <div class="remaining-time__circle">
                        <svg viewBox="0 0 36 36">
                          <defs>
                            <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
                              <stop offset="0%" stop-color="#25BED2" />
                              <stop offset="20%" stop-color="#2686E9" />
                              <stop offset="90%" stop-color="#8B5BC5" />
                              <stop offset="100%" stop-color="#FF92CC" />
                            </linearGradient>
                          </defs>
                          <path stroke="#333A50" fill="none" strokeWidth="6" d="M18 2.0845
                            a 15.9155 15.9155 0 0 1 0 31.831
                            a 15.9155 15.9155 0 0 1 0 -31.831" />
                          <path class="linear-gradient" stroke="url(#gradient)" stroke-dasharray="0, 100" fill="none"
                            strokeWidth="6" d="M18 2.0845
                            a 15.9155 15.9155 0 0 1 0 31.831
                            a 15.9155 15.9155 0 0 1 0 -31.831" />
                        </svg>
                      </div>
                      <dl class="d-flex flex-column lh-sm m-0">
                        <dt class="text-uppercase order-2 fw-normal">Hours</dt>
                        <dd class="order-1 text-white m-0 fw-bolder">0</dd>
                      </dl>
                    </div>

                    <div id="minutes" class="remaining-time__item d-flex justify-content-center align-items-center m-2">
                      <div class="remaining-time__circle">
                        <svg viewBox="0 0 36 36">
                          <defs>
                            <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
                              <stop offset="0%" stop-color="#25BED2" />
                              <stop offset="20%" stop-color="#2686E9" />
                              <stop offset="90%" stop-color="#8B5BC5" />
                              <stop offset="100%" stop-color="#FF92CC" />
                            </linearGradient>
                          </defs>
                          <path stroke="#333A50" fill="none" strokeWidth="6" d="M18 2.0845
                            a 15.9155 15.9155 0 0 1 0 31.831
                            a 15.9155 15.9155 0 0 1 0 -31.831" />
                          <path class="linear-gradient" stroke="url(#gradient)" stroke-dasharray="0, 100" fill="none"
                            strokeWidth="6" d="M18 2.0845
                            a 15.9155 15.9155 0 0 1 0 31.831
                            a 15.9155 15.9155 0 0 1 0 -31.831" />
                        </svg>
                      </div>
                      <dl class="d-flex flex-column lh-sm m-0">
                        <dt class="text-uppercase order-2 fw-normal">Minutes</dt>
                        <dd class="order-1 text-white m-0 fw-bolder">0</dd>
                      </dl>
                    </div>

                    <div id="seconds" class="remaining-time__item d-flex justify-content-center align-items-center m-2">
                      <div class="remaining-time__circle">
                        <svg viewBox="0 0 36 36">
                          <defs>
                            <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
                              <stop offset="0%" stop-color="#25BED2" />
                              <stop offset="20%" stop-color="#2686E9" />
                              <stop offset="90%" stop-color="#8B5BC5" />
                              <stop offset="100%" stop-color="#FF92CC" />
                            </linearGradient>
                          </defs>
                          <path stroke="#333A50" fill="none" strokeWidth="6" d="M18 2.0845
                            a 15.9155 15.9155 0 0 1 0 31.831
                            a 15.9155 15.9155 0 0 1 0 -31.831" />
                          <path class="linear-gradient" stroke="url(#gradient)" stroke-dasharray="0, 100" fill="none"
                            strokeWidth="6" d="M18 2.0845
                            a 15.9155 15.9155 0 0 1 0 31.831
                            a 15.9155 15.9155 0 0 1 0 -31.831" />
                        </svg>
                      </div>
                      <dl class="d-flex flex-column lh-sm m-0">
                        <dt class="text-uppercase order-2 fw-normal">Seconds</dt>
                        <dd class="order-1 text-white m-0 fw-bolder">0</dd>
                      </dl>
                    </div>

                  </div>
                </div>
              </section>

              <script>
                // Set the date we're counting down to
                const countDownDate = new Date("Jan 5, 2022 15:37:25").getTime();

                // Update the count down every 1 second
                const x = setInterval(function () {

                  // Get today's date and time
                  const now = new Date().getTime();

                  // Find the distance between now and the count down date
                  const distance = countDownDate - now;

                  // Time calculations for days, hours, minutes and seconds
                  const days = Math.floor(distance / (1000 * 60 * 60 * 24));
                  const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                  const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                  const seconds = Math.floor((distance % (1000 * 60)) / 1000);

                  // DDisplay the result in the element
                  const displayTime = (d, h, m, s) => {
                    document.querySelector("#days dd").innerHTML = d;
                    document.querySelector("#hours dd").innerHTML = h;
                    document.querySelector("#minutes dd").innerHTML = m;
                    document.querySelector("#seconds dd").innerHTML = s;

                    const maxDays = 200; // Please set max days
                    document.querySelector("#days .linear-gradient").setAttribute("stroke-dasharray", `${(d * 100) / maxDays}, 100`);
                    document.querySelector("#hours .linear-gradient").setAttribute("stroke-dasharray", `${(h * 100) / 60}, 100`);
                    document.querySelector("#minutes .linear-gradient").setAttribute("stroke-dasharray", `${(m * 100) / 60}, 100`);
                    document.querySelector("#seconds .linear-gradient").setAttribute("stroke-dasharray", `${(s * 100) / 60}, 100`);
                  }

                  displayTime(days, hours, minutes, seconds);

                  // If the count down is finished
                  if (distance < 0) {
                    clearInterval(x);
                    displayTime(0, 0, 0, 0);
                  }
                }, 1000);
              </script>

              <section id="stake-dot">
                <div class="stake-dot__bg-left">
                  <div class="stake-dot__bg-right">
                    <div class="container-md">
                      <h2 class="text-center mb-3 mb-sm-5"><span>Stake DOT</span></h2>
                      <p class="text-center mb-5">
                        <svg class="icon">
                          <use xlink:href="#icon-information-circle"></use>
                        </svg>
                        Note: Proxy accounts and multi signatures are not able to receive rewards
                      </p>
                      <div class="stake-dot__form py-5 px-4 p-sm-5">
                        <form>
                          <div class="mb-4 form-group">
                            <label class="form-label" for="PolkadotAddress">Polkadot Address <strong
                                class="text-danger">*</strong></label>
                            <input type="text" class="form-control form-control-lg" id="PolkadotAddress">
                          </div>
                          <div class="mb-4 form-group">
                            <label class="form-label" for="AvailableAmount">Available Amount <strong
                                class="text-danger">*</strong></label>
                            <input type="text" class="form-control form-control-lg" readonly placeholder="0" value="0"
                              for="AvailableAmount">
                            <span>DOT</span>
                          </div>
                          <div class="mb-4 form-group">
                            <label class="form-label" for="StakingAmount">Staking Amount <strong
                                class="text-danger">*</strong></label>
                            <input type="text" class="form-control form-control-lg" placeholder="0" id="StakingAmount">
                            <span>DOT</span>
                          </div>
                          <div class="mb-4 form-group">
                            <label class="form-label" for="ReferralAddress">Referral Address (optional)</label>
                            <input type="text" class="form-control form-control-lg" id="ReferralAddress">
                          </div>
                          <div class="mb-4 form-group">
                            <label class="form-label" for="EstimatedAmount">Estimated Amount <strong
                                class="text-danger">*</strong></label>
                            <input type="text" class="form-control form-control-lg" readonly placeholder="0" value="0"
                              id="EstimatedAmount">
                            <span>ASTA</span>
                          </div>
                          <div class="mb-4 form-group">
                            <label class="form-label" for="EmailAddress">Email Address (optional)</label>
                            <input type="email" class="form-control form-control-lg" placeholder="youremail@example.com"
                              id="EmailAddress">
                          </div>
                          <div class="text-center">
                            <button type="button" class="btn btn-lg btn-gradiant">
                              Stake Now
                            </button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </section>

              <div id="status">
                <div class="container">
                  <div class="d-sm-flex justify-content-center">
                    <dl class="d-flex flex-column text-center my-3 mx-4">
                      <dt class="order-2 fw-normal">Participants</dt>
                      <dd class="order-1 fw-bold m-0">14,164</dd>
                    </dl>
                    <dl class="d-flex flex-column text-center my-3 mx-4">
                      <dt class="order-2 fw-normal">DOT Contributed</dt>
                      <dd class="order-1 fw-bold m-0">501,137.7</dd>
                    </dl>
                    <dl class="d-flex flex-column text-center my-3 mx-4">
                      <dt class="order-2 fw-normal">ASTA to be Distributed</dt>
                      <dd class="order-1 fw-bold m-0">6,845,464.7</dd>
                    </dl>
                  </div>
                </div>
              </div><!-- #status -->

              <section id="why-how">
                <div class="container">
                  <h2 class="text-center mb-3 mb-sm-5"><span>The Rule of Astar’s Polkadot Crowdloan</span></h2>
                  <div class="why-how__grid pt-4">
                    <div>
                      <h3 class="fw-bold">Parachain Auction</h3>
                      <p>Polkadot is a shared protocol that enables blockchain networks to operate together seamlessly.
                        To be a part of the Polkadot network, Astar Network must win a Polkadot parachain auction to
                        secure a slot. We are raising DOT from our community to win the auction.</p>
                    </div>
                    <div>
                      <h3 class="fw-bold">The Earlier, The More Bonus</h3>
                      <p>Unlike other projects, we encourage DOT holders to join our crowdloan as early as possible. The
                        bonus rate we distribute will decrease over time. This means that the earlier you join, the more
                        bonuses you will receive. At the last Kusama auction, the early contributors received around 110
                        SDN per KSM. On the other hand, the last minute contributors only received around 60 SDN per
                        KSM.</p>
                    </div>
                    <div>
                      <h3 class="fw-bold">ASN Token Distribution</h3>
                      <p>1 month After successfully securing a Polkadot parachain slot, Astar network native token (ASN)
                        will be distributed to the crowdloan participants’ addresses. The participants who join the
                        crowdloan through exchanges will be able to see the balance once we enable token transfers.</p>
                    </div>
                    <div>
                      <h3 class="fw-bold">Number of ASN token</h3>
                      <p>The number of ASN tokens the participants will receive is determined based on the following
                        parameters: the time when they join Astar’s crowdloan and how many DOT token they lock for
                        Astar.</p>
                    </div>
                  </div>
                </div>
              </section>

              <section id="faq">
                <div class="container-md">
                  <h2 class="text-center mb-3 mb-sm-5"><span>FAQ</span></h2>
                  <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          How many ASN will I get for joining the Polkadot PLO?
                        </button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          This depends on the lease/lock period of DOT and a few other factors such as total locked KSM.
                          The token allocation for the PLO is capped and we will distribute a total of around 30% of our
                          token supply to those who join the PLO.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          What does it mean to unbond my KSM, and how do I do it?
                        </button>
                      </h2>
                      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          When nominating on Polkadot, you have a delayed exit period, called the unbonding period,
                          which serves as a cooldown. You will not be able to transfer your tokens before this period
                          has elapsed. Read more and find instructions on the Polkadot <a
                            href="https://guide.kusama.network/docs/maintain-guides-how-to-unbond/" target="_blank"
                            rel="noopener noreferrer">wiki</a>.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          How long will the DOT tokens be locked?
                        </button>
                      </h2>
                      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          Your DOT will be locked for the full duration of the Astar parachain lease. This means that
                          DOT will be locked for 24 months. Once the lease expires, DOT will be automatically returned.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                          What if Shiden doesn’t win the parachain auction?
                        </button>
                      </h2>
                      <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingThree"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          If Astar does not win the auction, your DOT will be automatically returned immediately but
                          Astar aims to become the first one.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>

              <footer>
                <div class="footer-inner">
                  <div class="container pt-5 pb-3">

                    <nav class="d-sm-flex justify-content-between mb-4">
                      <ul class="d-sm-flex flex-wrap footer-nav">
                        <li class="pe-md-4 pe-lg-5 mb-3 mb-sm-5 footer-nav__item">
                          <p class="fw-bolder"><a href="#faq">FAQ</a></p>
                        </li>
                        <li class="pe-md-4 pe-lg-5 mb-3 mb-sm-5 footer-nav__item">
                          <p class="fw-bolder"><a href="https://forum.astar.network/" target="_blank"
                              rel="noopener noreferrer">Forum</a>
                          </p>
                        </li>
                        <li class="mb-3 mb-sm-5 footer-nav__item">
                          <p class="fw-bolder mb-1 mb-sm-3">Community</p>
                          <ul>
                            <li><a href="https://twitter.com/AstarNetwork" target="_blank"
                                rel="noopener noreferrer">Twitter</a></li>
                            <li><a href="https://discord.gg/Z3nC9U4" target="_blank"
                                rel="noopener noreferrer">Discord</a></li>
                            <li><a href="https://t.me/PlasmOfficial" target="_blank"
                                rel="noopener noreferrer">Telegram</a></li>
                            <li><a href="https://medium.com/astar-network" target="_blank"
                                rel="noopener noreferrer">Medium</a></li>
                            <li><a href="https://github.com/PlasmNetwork/plasmdocs/blob/master/wp/en.pdf"
                                target="_blank" rel="noopener noreferrer">Whitepaper</a></li>
                          </ul>
                        </li>
                      </ul>
                      <ul class="d-flex social-nav mb-5">
                        <li>
                          <a href="https://twitter.com/AstarNetwork" target="_blank" rel="noopener noreferrer">
                            <svg class="icon">
                              <use xlink:href="#icon-twitter"></use>
                            </svg>
                            <span>Twitter</span>
                          </a>
                        </li>
                        <li>
                          <a href="https://discord.gg/Z3nC9U4" target="_blank" rel="noopener noreferrer">
                            <svg class="icon">
                              <use xlink:href="#icon-discord"></use>
                            </svg>
                            <span>Discord</span>
                          </a>
                        </li>
                        <li>
                          <a href="https://t.me/PlasmOfficial" target="_blank" rel="noopener noreferrer">
                            <svg class="icon">
                              <use xlink:href="#icon-telegram"></use>
                            </svg>
                            <span>Telegram</span>
                          </a>
                        </li>
                        <li>
                          <a href="https://medium.com/astar-network" target="_blank" rel="noopener noreferrer">
                            <svg class="icon">
                              <use xlink:href="#icon-medium"></use>
                            </svg>
                            <span>Medium</span>
                          </a>
                        </li>
                        <li>
                          <a href="https://github.com/PlasmNetwork/Plasm" target="_blank" rel="noopener noreferrer">
                            <svg class="icon">
                              <use xlink:href="#icon-github"></use>
                            </svg>
                            <span>Github</span>
                          </a>
                        </li>
                      </ul>
                    </nav>

                    <p class="copyright">
                      <img src="images/brand-logo-mark.png" alt="Astar Network" class="brand-logo__mark me-2"
                        loading="lazy">
                      © 2021 Astar Network. All Rights Reserved.
                    </p>
                  </div>
                </div>
              </footer>

              <script>
                // Hamburger nav for mobile/tablet
                var hamburgerBtn = document.querySelector('.hamburger-button');
                hamburgerBtn.onclick = function () {
                  document.querySelector('body').classList.toggle("is-open");
                }

                // Web Fonts lazy loading
                var webfonts = document.querySelectorAll(".webfont");
                webfonts.forEach(function (webfont) {
                  webfont.rel = "stylesheet";
                });
              </script>

              <script src="js/modernizr-webp.js"></script>
              <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
                integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
                crossorigin="anonymous"></script>
          </body>

</html>
