<!doctype html>
<html lang="en">

<% const title="Astar Network Crowdloan" %>
  <% const tagline="Stake DOT and Get ASTA Today!" %>
    <% const url="https://crowdloan.astar.network" %>
      <% const description="Support the Astar Network (Previously Plasm) Parachain Auction" %>
        <% const image="https://crowdloan.astar.network/images/card-image.jpg" %>

          <head>
            <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="robots" content="index, follow">

            <!-- Google Fonts -->
            <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@700&display=swap" class="webfont">

            <!-- Bootstrapped CSS -->
            <link href="css/style.css" rel="stylesheet">

            <title>
              <%= title %> - <%= tagline %>
            </title>
            <meta name="description" content="<%= description %>">

            <!-- Open Graph Tags -->
            <meta property="og:title" content="<%= title %> - <%= tagline %>" />
            <meta property="og:type" content="website" />
            <meta property="og:image" content="<%= image %>" />
            <meta property="og:description" content="<%= description %>" />
            <meta property="og:locale" content="en-US" />
            <meta property="og:site_name" content="<%= title %>" />
            <meta property="og:url" content="<%= url %>" />

            <!-- Twitter Cards -->
            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:site" content="@AstarNetwork">
            <meta name="twitter:title" content="<%= title %> - <%= tagline %>">
            <meta name="twitter:description" content="<%= description %>">
            <meta name="twitter:image" content="<%= image %>">
            <meta property="twitter:url" content="<%= url %>" />
            <meta name="twitter:creator" content="@AstarNetwork">

            <!-- Favicon -->
            <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png">
            <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
            <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
            <link rel="manifest" href="images/favicon/site.webmanifest">
            <link rel="mask-icon" href="images/favicon/safari-pinned-tab.svg" color="#1b6dc1">
            <meta name="msapplication-TileColor" content="#ffffff">
            <meta name="theme-color" content="#ffffff">
          </head>

          <body>
            <%- include('_svg-defs'); %>

              <header class="container">

                <div class="d-flex flex-wrap justify-content-between align-items-center py-3">

                  <div class="d-flex align-items-center">
                    <div class="brand-logo__container">
                      <span class="brand-logo d-block">
                        <img src="images/brand-logo-mark.png" alt="Astar Network" class="brand-logo__mark"
                          loading="lazy">
                        <svg class="brand-logo__type">
                          <use xlink:href="#brand-logo-type"></use>
                        </svg>
                      </span>
                      <span class="brand-logo__title d-block">
                        <%= title %>
                      </span>
                    </div>
                  </div>

                  <ul class="nav d-none d-lg-flex">
                    <li class="nav-item"><a href="#faq" class="nav-link">FAQ</a></li>
                    <li class="nav-item"><a href="https://forum.astar.network/" target="_blank"
                        rel="noopener noreferrer" class="nav-link">Forum</a>
                    </li>
                    <li class="nav-item">
                      <div class="dropdown nav-link">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                          data-bs-toggle="dropdown" aria-expanded="false">
                          Community
                        </a>
                        <ul class="dropdown-menu m-0" aria-labelledby="dropdownMenuLink">
                          <li><a class="dropdown-item" href="https://twitter.com/AstarNetwork" target="_blank"
                              rel="noopener noreferrer">Twitter</a></li>
                          <li><a class="dropdown-item" href="https://discord.gg/Z3nC9U4" target="_blank"
                              rel="noopener noreferrer">Discord</a>
                          </li>
                          <li><a class="dropdown-item" href="https://t.me/PlasmOfficial" target="_blank"
                              rel="noopener noreferrer">Telegram</a></li>
                          <li><a class="dropdown-item" href="https://medium.com/plasm-network" target="_blank"
                              rel="noopener noreferrer">Medium</a>
                          </li>
                          <li><a class="dropdown-item"
                              href="https://github.com/PlasmNetwork/plasmdocs/blob/master/wp/en.pdf" target="_blank"
                              rel="noopener noreferrer">Whitepaper</a>
                          </li>
                        </ul>
                      </div>
                    </li>
                  </ul>

                  <div class="d-lg-none me-1">
                    <button class="hamburger-button">
                      <span>Nav Button</span>
                    </button>
                  </div>

                </div>
              </header>

              <div class="nav-mobile">
                <div class="nav-mobile__inner d-flex align-items-center justify-content-center">
                  <ul>
                    <li class="nav-item"><a href="#faq" class="nav-link">FAQ</a>
                    </li>
                    <li class="nav-item"><a href="https://forum.astar.network/" target="_blank"
                        rel="noopener noreferrer" class="nav-link">Forum</a>
                    </li>
                    <li class="nav-item">
                      <p class="nav-link m-0">Community</p>
                      <ul class="ms-3 mb-4 community">
                        <li class="nav-item"><a href="https://twitter.com/AstarNetwork" target="_blank"
                            rel="noopener noreferrer" class="nav-link">Twitter</a></li>
                        <li class="nav-item"><a href="https://discord.gg/Z3nC9U4" target="_blank"
                            rel="noopener noreferrer" class="nav-link">Discord</a>
                        </li>
                        <li class="nav-item"><a href="https://t.me/PlasmOfficial" target="_blank"
                            rel="noopener noreferrer" class="nav-link">Telegram</a></li>
                        <li class="nav-item"><a href="https://medium.com/plasm-network" target="_blank"
                            rel="noopener noreferrer" class="nav-link">Medium</a>
                        </li>
                        <li class="nav-item"><a href="https://github.com/PlasmNetwork/plasmdocs/blob/master/wp/en.pdf"
                            target="_blank" rel="noopener noreferrer" class="nav-link">Whitepaper</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div><!-- .nav-mobile -->

              <section id="hero" class="d-flex align-items-center">
                <div class="container">
                  <div class="hero-inner ps-lg-4 text-center text-lg-start">
                    <p class="mb-2">Support the <ruby>Astar Network<rt>(Previously Plasm Network)</rt></ruby>
                      Parachain Auction</p>
                    <h1 class="mb-4 mb-sm-5">Stake DOT <small>&</small> <br>Get ASTA Today!</h1>
                    <a href="#stake-dot" class="btn btn-gradiant btn-lg">
                      Stake DOT Now
                    </a>
                  </div>
                </div>
              </section>

              <section id="remaining-time">
                <div class="container text-center">
                  <h2><span>Remaining Time</span></h2>
                  <p class="fw-bold text-danger">Highest Bonus Period Ends:</p>
                  <div class="d-flex justify-content-center flex-wrap">

                    <div class="remaining-time__item d-flex justify-content-center align-items-center m-2">
                      <div class="remaining-time__circle">
                        <svg viewBox="0 0 36 36">
                          <defs>
                            <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
                              <stop offset="0%" stop-color="#25BED2" />
                              <stop offset="20%" stop-color="#2686E9" />
                              <stop offset="90%" stop-color="#8B5BC5" />
                              <stop offset="100%" stop-color="#FF92CC" />
                            </linearGradient>
                          </defs>
                          <path stroke="#333A50" fill="none" strokeWidth="6" d="M18 2.0845
                            a 15.9155 15.9155 0 0 1 0 31.831
                            a 15.9155 15.9155 0 0 1 0 -31.831" />
                          <path stroke="url(#gradient)" stroke-dasharray="75, 100" fill="none" strokeWidth="6" d="M18 2.0845
                            a 15.9155 15.9155 0 0 1 0 31.831
                            a 15.9155 15.9155 0 0 1 0 -31.831" />
                        </svg>
                      </div>
                      <dl class="d-flex flex-column lh-sm m-0">
                        <dt class="text-uppercase order-2 fw-normal">Days</dt>
                        <dd class="order-1 text-white m-0 fw-bolder">13</dd>
                      </dl>
                    </div>

                    <div class="remaining-time__item d-flex justify-content-center align-items-center m-2">
                      <div class="remaining-time__circle">
                        <svg viewBox="0 0 36 36">
                          <defs>
                            <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
                              <stop offset="0%" stop-color="#25BED2" />
                              <stop offset="20%" stop-color="#2686E9" />
                              <stop offset="90%" stop-color="#8B5BC5" />
                              <stop offset="100%" stop-color="#FF92CC" />
                            </linearGradient>
                          </defs>
                          <path stroke="#333A50" fill="none" strokeWidth="6" d="M18 2.0845
                            a 15.9155 15.9155 0 0 1 0 31.831
                            a 15.9155 15.9155 0 0 1 0 -31.831" />
                          <path stroke="url(#gradient)" stroke-dasharray="8.33, 100" fill="none" strokeWidth="6" d="M18 2.0845
                            a 15.9155 15.9155 0 0 1 0 31.831
                            a 15.9155 15.9155 0 0 1 0 -31.831" />
                        </svg>
                      </div>
                      <dl class="d-flex flex-column lh-sm m-0">
                        <dt class="text-uppercase order-2 fw-normal">Hours</dt>
                        <dd class="order-1 text-white m-0 fw-bolder">05</dd>
                      </dl>
                    </div>

                    <div class="remaining-time__item d-flex justify-content-center align-items-center m-2">
                      <div class="remaining-time__circle">
                        <svg viewBox="0 0 36 36">
                          <defs>
                            <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
                              <stop offset="0%" stop-color="#25BED2" />
                              <stop offset="20%" stop-color="#2686E9" />
                              <stop offset="90%" stop-color="#8B5BC5" />
                              <stop offset="100%" stop-color="#FF92CC" />
                            </linearGradient>
                          </defs>
                          <path stroke="#333A50" fill="none" strokeWidth="6" d="M18 2.0845
                            a 15.9155 15.9155 0 0 1 0 31.831
                            a 15.9155 15.9155 0 0 1 0 -31.831" />
                          <path stroke="url(#gradient)" stroke-dasharray="46.66, 100" fill="none" strokeWidth="6" d="M18 2.0845
                            a 15.9155 15.9155 0 0 1 0 31.831
                            a 15.9155 15.9155 0 0 1 0 -31.831" />
                        </svg>
                      </div>
                      <dl class="d-flex flex-column lh-sm m-0">
                        <dt class="text-uppercase order-2 fw-normal">Minutes</dt>
                        <dd class="order-1 text-white m-0 fw-bolder">28</dd>
                      </dl>
                    </div>

                    <div class="remaining-time__item d-flex justify-content-center align-items-center m-2">
                      <div class="remaining-time__circle">
                        <svg viewBox="0 0 36 36">
                          <defs>
                            <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
                              <stop offset="0%" stop-color="#25BED2" />
                              <stop offset="20%" stop-color="#2686E9" />
                              <stop offset="90%" stop-color="#8B5BC5" />
                              <stop offset="100%" stop-color="#FF92CC" />
                            </linearGradient>
                          </defs>
                          <path stroke="#333A50" fill="none" strokeWidth="6" d="M18 2.0845
                            a 15.9155 15.9155 0 0 1 0 31.831
                            a 15.9155 15.9155 0 0 1 0 -31.831" />
                          <path stroke="url(#gradient)" stroke-dasharray="90, 100" fill="none" strokeWidth="6" d="M18 2.0845
                            a 15.9155 15.9155 0 0 1 0 31.831
                            a 15.9155 15.9155 0 0 1 0 -31.831" />
                        </svg>
                      </div>
                      <dl class="d-flex flex-column lh-sm m-0">
                        <dt class="text-uppercase order-2 fw-normal">Seconds</dt>
                        <dd class="order-1 text-white m-0 fw-bolder">54</dd>
                      </dl>
                    </div>

                  </div>
                </div>
              </section>

              <section id="stake-dot">
                <div class="stake-dot__bg-left">
                  <div class="stake-dot__bg-right">
                    <div class="container-md">
                      <h2 class="text-center mb-3 mb-sm-5"><span>Stake DOT</span></h2>
                      <p class="text-center mb-5">
                        <svg class="icon">
                          <use xlink:href="#icon-information-circle"></use>
                        </svg>
                        Note: Proxy accounts and multi signatures are not able to receive rewards
                      </p>
                      <div class="stake-dot__form py-5 px-4 p-sm-5">
                        <form>
                          <div class="mb-4 form-group">
                            <label class="form-label" for="PolkadotAddress">Polkadot Address <strong
                                class="text-danger">*</strong></label>
                            <input type="text" class="form-control form-control-lg" id="PolkadotAddress">
                          </div>
                          <div class="mb-4 form-group">
                            <label class="form-label" for="AvailableAmount">Available Amount <strong
                                class="text-danger">*</strong></label>
                            <input type="text" class="form-control form-control-lg" readonly placeholder="0" value="0"
                              for="AvailableAmount">
                            <span>DOT</span>
                          </div>
                          <div class="mb-4 form-group">
                            <label class="form-label" for="StakingAmount">Staking Amount <strong
                                class="text-danger">*</strong></label>
                            <input type="text" class="form-control form-control-lg" placeholder="0" id="StakingAmount">
                            <span>DOT</span>
                          </div>
                          <div class="mb-4 form-group">
                            <label class="form-label" for="ReferralAddress">Referral Address (optional)</label>
                            <input type="text" class="form-control form-control-lg" id="ReferralAddress">
                          </div>
                          <div class="mb-4 form-group">
                            <label class="form-label" for="EstimatedAmount">Estimated Amount <strong
                                class="text-danger">*</strong></label>
                            <input type="text" class="form-control form-control-lg" readonly placeholder="0" value="0"
                              id="EstimatedAmount">
                            <span>ASTA</span>
                          </div>
                          <div class="mb-4 form-group">
                            <label class="form-label" for="EmailAddress">Email Address (optional)</label>
                            <input type="email" class="form-control form-control-lg" placeholder="youremail@example.com"
                              id="EmailAddress">
                          </div>
                          <div class="text-center">
                            <button type="button" class="btn btn-lg btn-gradiant">
                              Stake Now
                            </button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </section>

              <div id="status">
                <div class="container">
                  <div class="d-sm-flex justify-content-center">
                    <dl class="d-flex flex-column text-center my-3 mx-4">
                      <dt class="order-2 fw-normal">Participants</dt>
                      <dd class="order-1 fw-bold m-0">14,164</dd>
                    </dl>
                    <dl class="d-flex flex-column text-center my-3 mx-4">
                      <dt class="order-2 fw-normal">DOT Contributed</dt>
                      <dd class="order-1 fw-bold m-0">501,137.7</dd>
                    </dl>
                    <dl class="d-flex flex-column text-center my-3 mx-4">
                      <dt class="order-2 fw-normal">ASTA to be Distributed</dt>
                      <dd class="order-1 fw-bold m-0">6,845,464.7</dd>
                    </dl>
                  </div>
                </div>
              </div><!-- #status -->

              <section id="why-how">
                <div class="container">
                  <h2 class="text-center mb-3 mb-sm-5"><span>Why host a Crowdloan and <br>how does it work?</span></h2>
                  <div class="why-how__grid pt-4">
                    <div>
                      <h3 class="fw-bold">Parachain Auctiont</h3>
                      <p>Kusama is a sharded, multi-chain network that allows blockchains to connect for
                        interoperability, scalability, and plug-and-play network security. Kusama is the cousin network
                        of Polkadot. To join Kusama’s network, all parachains must participate in and win a
                        unpermissioned candle auction to secure a slot on the network. Parachains can choose to raise
                        KSM in a variety of ways in order to participate in the auction.</p>
                    </div>
                    <div>
                      <h3 class="fw-bold">Astar’s Crowdloan</h3>
                      <p>Karura has chosen to host a Crowdloan to trustlessly crowdsource KSM, which will be used to
                        participate in the Kusama parachain auction. These KSM will be bonded, or ‘locked’, in the
                        Kusama Relay Chain for the duration of Karura’s parachain lease.</p>
                    </div>
                    <div>
                      <h3 class="fw-bold">Astar (ASTA) Distribution</h3>
                      <p>In the event Karura succeeds in its auction bid and secures a Kusama parachain lease, and
                        network genesis of Karura occurs on Kusama, Karura will gift KAR to Karura supporters’. Kusama
                        supporters will be distributed KAR in the same account they used to bond KSM in support of
                        Karura’s parachain lease. The amount of KAR distributed is dependant on the level of support
                        provided.</p>
                    </div>
                    <div>
                      <h3 class="fw-bold">Astar & Shiden - Sister Networks</h3>
                      <p>Acala will operate its DeFi parachains on Polkadot and Kusama to serve both communities. Acala
                        and Karura will operate in parallel, and will eventually be interoperable once Polkadot and
                        Kusama are bridged.</p>
                    </div>
                  </div>
                </div>
              </section>

              <section id="faq">
                <div class="container-md">
                  <h2 class="text-center mb-3 mb-sm-5"><span>FAQ</span></h2>
                  <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Accordion Item #1
                        </button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <strong>This is the first item's accordion body.</strong> It is shown by default, until the
                          collapse plugin adds the appropriate classes that we use to style each element. These classes
                          control the overall appearance, as well as the showing and hiding via CSS transitions. You can
                          modify any of this with custom CSS or overriding our default variables. It's also worth noting
                          that just about any HTML can go within the <code>.accordion-body</code>, though the transition
                          does limit overflow.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Accordion Item #2
                        </button>
                      </h2>
                      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <strong>This is the second item's accordion body.</strong> It is hidden by default, until the
                          collapse plugin adds the appropriate classes that we use to style each element. These classes
                          control the overall appearance, as well as the showing and hiding via CSS transitions. You can
                          modify any of this with custom CSS or overriding our default variables. It's also worth noting
                          that just about any HTML can go within the <code>.accordion-body</code>, though the transition
                          does limit overflow.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          Accordion Item #3
                        </button>
                      </h2>
                      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <strong>This is the third item's accordion body.</strong> It is hidden by default, until the
                          collapse plugin adds the appropriate classes that we use to style each element. These classes
                          control the overall appearance, as well as the showing and hiding via CSS transitions. You can
                          modify any of this with custom CSS or overriding our default variables. It's also worth noting
                          that just about any HTML can go within the <code>.accordion-body</code>, though the transition
                          does limit overflow.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>

              <footer>
                <div class="footer-inner">
                  <div class="container pt-5 pb-3">

                    <nav class="d-sm-flex justify-content-between mb-4">
                      <ul class="d-sm-flex flex-wrap footer-nav">
                        <li class="pe-md-4 pe-lg-5 mb-3 mb-sm-5 footer-nav__item">
                          <p class="fw-bolder"><a href="#faq">FAQ</a></p>
                        </li>
                        <li class="pe-md-4 pe-lg-5 mb-3 mb-sm-5 footer-nav__item">
                          <p class="fw-bolder"><a href="https://forum.astar.network/" target="_blank"
                              rel="noopener noreferrer">Forum</a>
                          </p>
                        </li>
                        <li class="mb-3 mb-sm-5 footer-nav__item">
                          <p class="fw-bolder mb-1 mb-sm-3">Community</p>
                          <ul>
                            <li><a href="https://twitter.com/AstarNetwork" target="_blank"
                                rel="noopener noreferrer">Twitter</a></li>
                            <li><a href="https://discord.gg/Z3nC9U4" target="_blank"
                                rel="noopener noreferrer">Discord</a></li>
                            <li><a href="https://t.me/PlasmOfficial" target="_blank"
                                rel="noopener noreferrer">Telegram</a></li>
                            <li><a href="https://medium.com/plasm-network" target="_blank"
                                rel="noopener noreferrer">Medium</a></li>
                            <li><a href="https://github.com/PlasmNetwork/plasmdocs/blob/master/wp/en.pdf"
                                target="_blank" rel="noopener noreferrer">Whitepaper</a></li>
                          </ul>
                        </li>
                      </ul>
                      <ul class="d-flex social-nav mb-5">
                        <li>
                          <a href="https://twitter.com/AstarNetwork" target="_blank" rel="noopener noreferrer">
                            <svg class="icon">
                              <use xlink:href="#icon-twitter"></use>
                            </svg>
                            <span>Twitter</span>
                          </a>
                        </li>
                        <li>
                          <a href="https://discord.gg/Z3nC9U4" target="_blank" rel="noopener noreferrer">
                            <svg class="icon">
                              <use xlink:href="#icon-discord"></use>
                            </svg>
                            <span>Discord</span>
                          </a>
                        </li>
                        <li>
                          <a href="https://t.me/PlasmOfficial" target="_blank" rel="noopener noreferrer">
                            <svg class="icon">
                              <use xlink:href="#icon-telegram"></use>
                            </svg>
                            <span>Telegram</span>
                          </a>
                        </li>
                        <li>
                          <a href="https://medium.com/plasm-network" target="_blank" rel="noopener noreferrer">
                            <svg class="icon">
                              <use xlink:href="#icon-medium"></use>
                            </svg>
                            <span>Medium</span>
                          </a>
                        </li>
                        <li>
                          <a href="https://github.com/PlasmNetwork/Plasm" target="_blank" rel="noopener noreferrer">
                            <svg class="icon">
                              <use xlink:href="#icon-github"></use>
                            </svg>
                            <span>Github</span>
                          </a>
                        </li>
                      </ul>
                    </nav>

                    <p class="copyright">
                      <img src="images/brand-logo-mark.png" alt="Astar Network" class="brand-logo__mark me-2"
                        loading="lazy">
                      © 2021 Astar Network. All Rights Reserved.
                    </p>
                  </div>
                </div>
              </footer>

              <script>
                // Hamburger nav for mobile/tablet
                var hamburgerBtn = document.querySelector('.hamburger-button');
                hamburgerBtn.onclick = function () {
                  document.querySelector('body').classList.toggle("is-open");
                }

                // Web Fonts lazy loading
                var webfonts = document.querySelectorAll(".webfont");
                webfonts.forEach(function (webfont) {
                  webfont.rel = "stylesheet";
                });
              </script>

              <script src="js/modernizr-webp.js"></script>
              <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
                integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
                crossorigin="anonymous"></script>
          </body>

</html>
